body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(27, 32, 31);
  border: 2px solid #333;
}
